h3 {
    color: white;
}

span {
    color: black;
    transition: color 0.4s;
}
span:hover {
    color: rgb(226, 175, 79);
}

body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 400px;
    height: 100px;
    background-color: white;
}

.logo {
    display:flex ;
    flex: 100px;
    height: 60px;
    background-color: none;
    width: 900px;
    margin-right: 90px;

}

.home {
    display: flex;
    flex: 100px;
    height: 60px;
   
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: none;
   
}


.about {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.catalog {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.resources {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.gateway {
   
    top: 240px;
    font-size: 50px;
    color: rgb(183, 159, 159);
}

a {
    text-decoration: none;
    color: rgb(234, 183, 90);
    font-size: 20px;
    transition: color 0.4s;
}
a:hover {
    color: brown;
}

.ug-logo {
    width: 250px;
    display: inline-block;
}
.logo {
    display: inline-block;
}

.container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.options {
    display: inline-block;
}

.programmes {
    margin-bottom: 100px;
}

.div-short-courses {
    display: inline-block;
    width: 340px;
    margin-left: 20px;
    position: relative;
}

.short-courses {
    background-color: rgb(163, 127, 55);
    color: white;
}

.body-short-courses {
    color: rgb(28, 28, 126);
}

.readmore {
    color: rgb(234, 183, 90);
    transition: color 0.4s;
}
.readmore:hover {
    color:brown;
}

.div-under-prog {
    display: inline-block;
    width: 300px;
    margin-top: 0;
}
.under-prog {
    background-color: rgb(163, 127, 55);
    color: white;
}

.body-under-prog {
    color: rgb(28, 28, 126);
}

.div-phd {
    display: inline-block;
    width: 300px;
}

.phd {
    background-color: rgb(163, 127, 55);
    color: white;
}

.body-phd {
    color: rgb(28, 28, 126);
}

.div-mphil {
    display: inline-block;
    width: 300px;
}
.mphil {
    background-color: rgb(163, 127, 55);
    color: white;
}

.body-mphil {
    color: rgb(28, 28, 126);
}

.department-class {
    text-align: center;
    margin-bottom: 80px;
}

.department-class-image {
    width: 390px;
}

.sub-paragraph {
    text-align: center;
}


.webdev-image {
    width: 300px;
}

.cybersecurity-image {
    width: 300px;
}

.computernet-image {
    width: 300px;
}

.mobile-image {
    width: 300px;
}
.bottom-container {
    display: flex;
    background-color: rgb(46, 95, 163);
}

.faqs {
    font-size: 50px;
    transition: color 0.4s;
}
.faqs:hover {
    color: brown;
}

.footer {
    background-color: rgb(45, 45, 146);
    color: white;
}