a {
    text-decoration: none;
    color: rgb(234, 183, 90);
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    }
h2 {
    color: rgb(30, 30, 118);
}

h3 {
    color: white;
}

p {
    color: rgb(97, 97, 112);
}


.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 400px;
    height: 100px;
    background-color: white;
}

.logo {
    display:flex ;
    flex: 100px;
    height: 60px;
    background-color: none;
    width: 900px;
    margin-right: 90px;

}

.home {
    display: flex;
    flex: 100px;
    height: 60px;
   
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: none;
   
}


.about {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.catalog {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.resources {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}


.ug-logo {
    width: 250px;
    display: inline-block;
}
.logo {
    display: inline-block;
}

span {
    color: black;
    transition: color 0.4s;
}
span:hover {
    color: rgb(226, 175, 79);
}

.header1 {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}

.welcome {
    color: rgb(30, 30, 118);
}
.get {
    margin-left: 30px;
    color: rgb(30, 30, 118);
}
.our-org {
    display: flex;
}
.our-org-pic {
    width: 400px;
    margin-left: 30px;
    
    
}
.org {
    margin-left: 50px;
    text-align: center;
    margin-right: 30px;
}

.our-comm {
    display: flex;
}
.our-comm-pic {
    width: 600px;
    margin-right: 30px;
}
.comm {
    margin-right: 50px;
    margin-left: 30px;
    text-align: justify;
}

.our-dist {
    display: flex;
}
.our-dist-pic {
    width: 400px;
    margin-left: 30px;
}
.dist {
    margin-left: 50px;
    text-align: center;
    margin-right: 30px;
}

.our-fut {
    display: flex;
}
.our-fut-vid {
    width: 400px;
    margin-right: 30px;
}
.fut {
    margin-right: 50px;
    margin-left: 30px;
    text-align: justify;
}






.bottom-container {
    display: flex;
    background-color: rgb(46, 95, 163);
}

.ex {
    color: black;
}

.faqs {
    font-size: 50px;
    transition: color 0.4s;
}
.faqs:hover {
    color: brown;
}

.footer {
    background-color: rgb(45, 45, 146);
    color: white;
}