a {
    text-decoration: none;
    color: rgb(234, 183, 90);
    font-size: 20px;
    transition: color 0.4s;
}
a:hover {
    color: brown;
}

body{
    margin: 0;
    padding: 0;
    }

p {
    color: rgb(54, 54, 113);
    text-align: justify;
    margin-right: 10px;
    font-size: 23px;
} 

h1 {
    color: rgb(85, 35, 35);
}

h2 {
    color: rgb(30, 30, 73);
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 400px;
    height: 100px;
    background-color: white;
}

.logo {
    display:flex ;
    flex: 100px;
    height: 60px;
    background-color: none;
    width: 900px;
    margin-right: 90px;

}

.home {
    display: flex;
    flex: 100px;
    height: 60px;
   
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: none;
   
}


.about {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.catalog {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.resources {
    display: flex;
    flex: 100px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.ug-logo {
    width: 250px;
    display: inline-block;
}
.logo {
    display: inline-block;
}

span {
    color: black;
    transition: color 0.4s;
}
span:hover {
    color: rgb(226, 175, 79);
}



.intro {
    margin-top: 100px;
    text-align: center;
}

.topic {
    text-align: center;
}

.webdev-image {
    width: 300px;
}

.cybersecurity-image {
    width: 300px;
}

.computernet-image {
    width: 300px;
}

.mobile-image {
    width: 300px;
}

.container-1 {
    background-color: rgb(180, 141, 105);
    margin-top: 250px;
}